@media only screen and (max-width: 990px) {
    .btnjoinus {
        display: none;
    }
}

@media only screen and (max-width: 765px) {
    .gym-image {
        display: none;
    }
}

.fa-check {
    color: green;
}

.image-profile {
    width: 100px;
    height: 100px;
}