.jumbotron {
    background-image: url(../img/financial-zumbo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    color: goldenrod;
    text-align: center;
}

header {
    text-align: center;
}

footer {
    text-align: right;
}

.bordered-box {
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 2px;
    padding: 25px;
}

.result-box {
    background-color: rgba(38, 128, 217, .2);
    margin: 15px 0 0;
    padding: 25px;
    display: none;
}

.error {
    color: red;
}

.image-md {
    width: 140px;
    height: 140px;
}

.image-sm {
    width: 80px;
    height: 80px;
    padding: 10px;
}